# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=ogamex
DATABASE_PASSWORD=ogamex_secret
DATABASE_NAME=ogamex

# Server
SERVER_PORT=8080

# Universe
UNIVERSE_SPEED=1
ECONOMY_SPEED=1

# Rust Battle Engine (optional)
RUST_LIBRARY_PATH=./storage/rust-libs
